<main class="p-5">
    <h1>
   Hello   <i class="bi bi-check-circle"></i>  
    </h1>
<button class="btn btn-warning">
<i class="bi bi-sd-card"></i>
<i class="fa-brands fa-figma fa-2xs" style="color: #25511f;"></i>
</button>
<div>
   <img src="/svg/slack.svg">
     </div>
</main>