<main class="p-5">
   <div class="col-12 p-2">
<div class="row">
   <div class="col-8">
<div class="display-6">Софія Семенюк</div>
</div>

<div class="col-4 display-6 ">Resume project</div>

</div></div>
<div class="mt-5">
<p>Список сторінко з домашнього завдання</p></div>
<div class="col-12">
<div class="mt-5 row ">
   

<div class="pb-3 col-4">
<a href="/work" class="btn btn-primary  btn-lg  ">Work</a>
</div>
<div class="pb-3 col-4">
<a href="/web" class="btn btn-primary  btn-lg">Web</a>
</div>
<div class="pb-3 col-4">
<a href="/summary" class="btn btn-primary  btn-lg">Summary</a>
</div>
<div class="pb-3 col-4">
<a href="/skills" class="btn btn-primary  btn-lg">Skills</a>
</div>
<div class="pb-3 col-4">
<a href="/program" class="btn btn-primary  btn-lg">Program</a>
</div>
<div class="pb-3 col-4">
<a href="/person" class="btn btn-primary  btn-lg">Person</a>
</div>
<div class="pb-3 col-4">
<a href="/education" class="btn btn-primary  btn-lg">Education</a>
</div>
<div class="pb-3 col-4">
<a href="/bio" class="btn btn-primary  btn-lg">Bio</a>
</div>
<div class="pb-3 col-4">
<a href="/task31" class="btn btn-primary  btn-lg">Task31</a>
</div>
<div class="pb-3 col-4">
<a href="/task22" class="btn btn-primary  btn-lg">Task22</a>
</div>
<div class="pb-3 col-4">
<a href="/task21" class="btn btn-primary  btn-lg">Task21</a>
</div>
<div class="pb-3 col-4">
<a href="/shopreview" class="btn btn-primary  btn-lg">shopreview</a>
</div>
<div class="pb-3 col-4">
<a href="/shopprofile" class="btn btn-primary  btn-lg">shopprofile</a>
</div>
<div class="pb-3 col-4">
<a href="/shoporder" class="btn btn-primary  btn-lg">shoporder</a>
</div>
<div class="pb-3 col-4">
<a href="/shophome" class="btn btn-primary  btn-lg">shophome</a>
</div>

<div class="pb-3 col-4">
<a href="/shopcatalog" class="btn btn-primary  btn-lg">shopcatalog</a>
</div>
<div class="pb-3 col-4">
<a href="/shopcart" class="btn btn-primary  btn-lg">shopcart</a>
</div>
<div class="pb-3 col-4">
<a href="/mac" class="btn btn-primary  btn-lg">mac</a>
</div>
<div class="pb-3 col-4">
<a href="/js" class="btn btn-primary  btn-lg">js</a>
</div>
<div class="pb-3 col-4">
<a href="/facebook" class="btn btn-primary  btn-lg">facebook</a>
</div>
<div class="pb-3 col-4">
<a href="/car" class="btn btn-primary  btn-lg">car</a>
</div>


</div>

</div>
</main>