{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<h1>Summary</h1>

 <p>
 Open-minded for new technologies, with 1 years of experience in development. Whenever I start to
 work on a new project I learn the domain and try to understand the idea of the project. Good team
 player, every colleague is a friend to me.
</p>


<h2>Other experience</h2>


 <p>
Pet project for parsing sport betting data from different platforms ( odds ) and sport statistics (
tournament position, goals etc), analyzing by simple mathematics models and preparing probability
for such events like: money line - first win / draw / second win, totals etc.
</p>
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}