<heading>
<main>
      <div class="card">
    <div class="card-body">

    <div class="card">
    <div class="card-body">

  <h1 class="text-muted">JavaScript</h1> 
  <p class="text-muted ">JavaScript is a popular high-level, dynamic, and interpreted programming language.</p> 

<button class="btn btn-primary ">Open page</button>
<br>
<br>
<button class="btn btn-outline-primary">Add to cart</button>
</div>
</div>
<br>
<br>
<div class="card">
    <div class="card-body">

 <h1 class="text-muted">Stack Overflow</h1> 
 <p class="text-muted ">First-class functions</p> 

 <button class="btn btn-secondary ">Open page</button>
 <br>
<br>
<button class="btn btn-outline-secondary ">Add to cart</button>
 </div>
</div>
<br>
<br>
<div class="card">
    <div class="card-body">

 <h1 class="text-muted">JavaScript Weekly</h1> 
 <p class="text-muted ">Prototype-based inheritance newsletter</p> 

 <button class="btn btn-dark ">Open page</button>
 <br>
<br>
<button class="btn btn-outline-dark ">Add to cart</button>
 </div>
</div>
</div></div>
<br>
<br>
 <div class="card">
    <div class="card-body">
     <h1 class="text-dark">HTML</h1>  
      <div class="card">
    <div class="card-body">
     <h1 class="text-dark">Outdated HTML tags</h1>   
<p class="text-dark"> tags that have been identified as deprecated and not recommended for use in HTML version 5</p>
<br>
<button class="btn btn-outline-warning ">Орen</button>
</div></div>
<br>
<h1 class="text-dark">Sections</h1>
<br>
<button class="btn btn-outline-info ">Learn more</button>
</div></div>

<br>
<br>
<div class="card">
    <div class="card-body">
    <h1 class="text-muted">About modules</h1>   
    <p class="text-muted">Modules with import/export statements </p> 
    
    <a href="https://google.com" class="btn btn-link ">Open link page</a>
<br>
<br>
<div class="card">
    <div class="card-body">
       <li> <a href="https://github.com/" class="btn btn-link ">Github</a>
        <br>
       <li> <a href="https://getbootstrap.com/" class="btn btn-link ">Bootstrap</a>
        </div></div>
</main>

</heading>