
    <h1 class="text-center text-muted">InnovaMind</h1>
    <p class="text-center text-muted">Welcome to our wonderful community</p>
    <br>
    <br>
    <div class="card">
    <div class="card-body">
        <h1 class="text-end text-muted">InnovaMind</h1>
       <p class="text-center text-muted">InnovaMind is a forward-thinking startup focused on innovation. We are dedicated to creating efficient and powerful software through the use of first-class functions.</p>
<button class="btn btn-outline-info">Show more</button>
</div></div>
<br>
<div class="card">
    <div class="card-body">
<h1 class="text text-muted">Advantage</h1>
<div class="card">
    <div class="card-body">
<h1 class="text text-muted">Efficiency</h1>
<p class="text-center text-muted">Streamline your software development</p>
<p class="text-center text-muted">Streamline your software development with our innovative platform...</p>
<br>
<button class="btn btn-outline-warning">Show more</button>
</div></div>
<br>
<br>
<div class="card">
    <div class="card-body">
<h1 class="text-center text-muted">Innovation</h1>
<p class="text-center text-muted"> Forward-thinking approach to programming</p>
<p class="text-center text-muted">Stay ahead of the curve with our forward-thinking approach to programming... </p>
<br>
<button class="btn btn-outline-warning">Show more</button>
</div></div>
<br>
<div class="card">
    <div class="card-body">
<h1 class="text-end text-muted">Collaboration</h1>
<p class="text-end text-muted">Connect with like-minded developers</p>
<p class="text-center text-muted">Connect with a community of like-minded developers to share knowledge and insights...</p>
<br>
<button class="btn btn-outline-warning">Show more</button>
</div></div>
</div></div>

<br>
<br>
<div class="card">
    <div class="card-body">
        <h1 class="text text-muted">Terms of use</h1>
      <div class="card">
    <div class="card-body">  
        <p class="text text-muted">Check out our requirements </p>
        <div class="card">
    <div class="card-body">
        <p class="text text-muted"> By using or accessing the service, you agree to be bound by the terms and conditions outlined in the agreement.</p>
        <button class="btn btn-success">Аccept</button>
        </div></div>
        </div></div>
        </div></div>