
 <nav>
  {{> link text="Skills" href="/skills" line=true }}
  {{> link text="Summery" href="/summary" line=true  }}
  {{> link text="education" href="/education" line=true }}
  {{> link text="Work" href="/work" line=true noLine=true }}
 </nav>